<% last_message = Message.where("(sender_id = :user AND receiver_id = :host) OR (sender_id = :host AND receiver_id = :user)", user: current_user, host: request.event.user).order(created_at: :desc).first %>

<%= link_to new_message_path(request.event.user, event: request.event) do %>
  <div class="card m-2" style="width: 24rem; border-top: none; border-left: none; border-right: none;">
      <div class="d-flex align-items-start p-2">
        <div>
          <%= cl_image_tag(request.event.user.photo.key, class: "avatar") %>
        </div>

        <div>
          <div class="px-3"><strong><%= request.event.user.first_name %></strong></div>
            <% if last_message %>
              <div class="px-3" style="width: 270px;" >
                <%= last_message.content %>
              </div>
            <% else %>
              <div class="px-3">
            <%= "You have a new buddy for #{request.event.name}!" %>
          </div>
          <% end %>
        </div>

        <div>
          <small style="color: gray;"><%= last_message.created_at.strftime("%l:%M%p") %></small>
        </div>
      </div>
  </div>
<% end %>
