<%= link_to root_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<%= link_to image_tag("logo.png", width: 20, class: 'page-title', style:"width: 112px") %>
<div class="container">

    <div style="width: 90vw d-flex">
      <h1 class="title py-3" style="width: 250px; font-size: 30px; margin-right: 60px" id="filters"><strong>Inbox</strong></h1>
    </div>

  <% if @my_requests.length == 0 %>

    <p>You don't have any messages!</p>
    <%= link_to "Search for a buddy", welcome_path, class: "btn btn-primary" %>

  <% else %>

    <% @my_requests.each do |request| %>
      <%= render partial: "inbox_message", locals: { request: request } %>
    <% end %>

    <% @incoming_requests.each do |request| %>
      <%= render partial: "inbox_message_incoming", locals: { request: request } %>
    <% end %>

  <% end %>
</div>
