<%= link_to messages_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<h1 class="page-title" style="top:1.8rem; font-size: 24px"><strong><%= "#{@user.first_name.capitalize} #{@user.last_name.first.upcase}" %></strong></h1>
<div class="container">


  <div class="card align-items-center mb-4 mt-3" style="border: none;">
    <h2 style="text-align: center"><strong>You are now buddies for <%= @event.name %>!</strong></h2>
    <div>
      <%= cl_image_tag(@user.photo.key, class: "avatar") %>
      <%= cl_image_tag(current_user.photo.key, class: "avatar") %>
    </div>
    <p>Start your conversation below...</p>
     <%= link_to request_path(@request) do %>
      <h2 class="btn btn-secondary align-items-right" > <i class="fas fa-info-circle"></i> view event</h2>
     <% end %>
  </div>

  <div id="messages" style="display: inline-block">
    <% @messages.each do |message| %>
      <%= render partial: "message", locals: { message: message } %>
    <% end %>
  </div>
    <%= simple_form_for [ @event, @user, @message ], id:"new_message" do |f| %>
      <div class="p-2" style="display: flex", id="event-chat">
        <%= f.input :content, label: false, as: :text, placeholder: "Message #{@user.first_name}", input_html: {rows: 2}, style: "width: 600px !important" %>
        <%= f.button :submit, ">", class: "btn btn-primary", style:"height: 62px; margin-top: 20px" %>
      </div>
    <% end %>
</div>
      <!-- Event popup Modal, do not change! -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" style="margin-bottom:120px;height:500px;border-radius: 6px">
            <div>
              <h5 class="modal-title" id="exampleModalLongTitle"> </h5>
              <button type="button" class="close pt-3 pr-3" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="margin:20px" >

              <div style="text-align:center;">
                <%= cl_image_tag @event.user.photo.key, crop: :fill, class: "avatar-large" %>
              </div><br>
              <h4 style="text-align:center;"> <%= @event.user.first_name %> <%= @event.user.last_name %> </h4>
              <hr style="margin-top:5px;background-color:#FF7662;height:2px;width:45%;text-align:left;margin-left:" >
              Languages: <%= @event.user.languages.map(&:name).join(', ') %><br>
              Age: <%= @event.user.age %><br><br>
              <%= @event.user.bio %>
            </div>
          </div>
        </div>
      </div>
      <!-- Event popup Modal, do not change! -->
<style>
  .form-control {
    width: 300px;
    margin-top: 20px;
    margin-bottom: none;
  }
</style>

<script type="text/javascript">
  // SUBMITS MESSAGE ON ENTER! :D But not shift-enter
      function submitOnEnter(event){
      if(event.which === 13 && !event.shiftKey){
          event.target.form.dispatchEvent(new Event("submit", {cancelable: true}));
          event.preventDefault();
          event.target.form.submit();
      }
  }

  document.getElementById("new_message").addEventListener("keypress", submitOnEnter);

</script>
