<%= link_to messages_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<h1 class="page-title" style="top:1.8rem; font-size: 24px"><strong><%= "#{@user.first_name.capitalize}" %></strong></h1>
<div class="container">


  <div class="card align-items-center mb-4 mt-3" style="border: none;">

    <div class="card align-items-center mb-2 mt-3 p-3" style="width:100vw; z-index: 30 !important;position:fixed; z-index: 5000;top:58px; padding-bottom: 6px !important;">
      <h2 style="text-align: center"><strong>You are buddies for <%= @event.name %>!</strong></h2>
        <h2 data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-secondary align-items-right" > <i class="fas fa-info-circle"></i> view event</h2>
    </div>
      <div style="margin-top: 96px; height: 40px; position: relative;">
        <%= cl_image_tag(@user.photo.key, class: "avatar", style:"position: absolute; left:-12px;") %>
        <%= cl_image_tag(current_user.photo.key, class: "avatar", style:"position: absolute; right:-12px;") %>
      </div>
    </div>
    <p class="pb-2">Start your conversation below...</p>
    <div>
  </div>

  <div id="messages" style="display: inline-block">
    <% @messages.each do |message| %>
      <%= render partial: "message", locals: { message: message } %>
    <% end %>
  </div>
    <%= simple_form_for [ @event, @user, @message ], id:"new_message" do |f| %>
      <div class="pt-2" style="display: flex", id="event-chat">
        <%= f.input :content, label: false, as: :text, placeholder: "Message #{@user.first_name}", input_html: {rows: 2}, style: "width: 600px !important" %>
        <button type="submit" class="btn btn-primary", style="height: 62px; margin-top: 20px" >
          <i class='fas fa-location-arrow'></i>
        </button>
      </div>
    <% end %>
</div>

    <!-- Event popup Modal, do not change! -->

      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="overflow-y: hidden">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" style="margin-bottom:120px;height:645px;border-radius: 6px">
            <div>
              <h5 class="modal-title" id="exampleModalLongTitle"> </h5>
              <button type="button" class="close pt-3 pr-3" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="margin:20px height: 50%" >

              <% if @event.user != current_user %>
                <div style="text-align:center;">
                  <%= cl_image_tag @event.user.photo.key, crop: :fill, class: "avatar-large" %>
                </div>
                <p style="text-align:center; padding-top: 12px; font-size:16px">Your buddy:</p>
                <h4 style="text-align:center;"> <%= @event.user.first_name %> <%= @event.user.last_name %> </h4>
                <hr style="margin-top:5px;margin-bottom:25px;background-color:#FF7662;height:2px;width:45%;text-align:left;margin-left:" >
                <div class="px-2" style="margin:6px;">
                  <span style="color:gray"><strong>Languages: <%= @event.user.languages.map(&:name).join(', ') %></strong></span><br />
                  <span class="pb-3"style="color:gray"><strong>Age: <%= @event.user.age %></strong></span><br><br>
                  <span><%= @event.user.bio %></span>
                </div>
                </div>
                  <div class="card-product" style="width: 100%; border-radius: 0; border-left: 12px solid white; border-right: 12px solid white;">
                  <div style="width: 45%; background-size: cover; background-position: center; background-image: url(<%= cl_image_path url_for(@event.photo), height: 300, width: 400, crop: :fill %>)"></div>
                  <div class="flex-column card-right">
                    <ul class="card-product-infos ml-2" style="padding-right:0 !important">
                        <li><h2 style="margin: 0;max-width: 156px !important; white-space:nowrap; max-height: 20px;"><%= @event.name %></h2></li>
                      <li><%= @event.address %></li>
                      <li style="color:gray; font-size: 16px, margin: 0"><%= @event.date_time.strftime("%I:%M%p") %> - <%= @event.date_time.strftime("%m/%d/%Y") %></li>
                    </ul>
                    <div class="d-flex pb-1">
                      <% unless @event.categories.first.nil? %>
                        <span class="card-filter ml-3" style="background-color: <%= @event.categories.first.color %>"><%= @event.categories.first.name %></span>
                      <% end %>
                      <% unless @event.categories.second.nil? %>
                        <span class="card-filter" style="background-color: <%= @event.categories.second.color %>"><%= @event.categories.second.name %></span>
                      <% end %>
                    </div>
                  </div>
                </div>

              <% else %>
              <!-- copy code above but replace @event.user with @event.requests.find_by(status:"Accepted").user -->

                <div style="text-align:center;">
                  <%= cl_image_tag @event.requests.find_by(status:"Accepted").user.photo.key, crop: :fill, class: "avatar-large" %>
                </div>
                <p style="text-align:center; padding-top: 12px; font-size:16px">Your buddy:</p>
                <h4 style="text-align:center;"> <%= @event.requests.find_by(status:"Accepted").user.first_name %> <%= @event.requests.find_by(status:"Accepted").user.last_name %> </h4>
                <hr style="margin-top:5px;margin-bottom:25px;background-color:#FF7662;height:2px;width:45%;text-align:left;margin-left:" >
                <div class="px-2">
                  <span style="color:gray">Languages: <%= @event.requests.find_by(status:"Accepted").user.languages.map(&:name).join(', ') %></span><br />
                  <span class="pb-3"style="color:gray">Age: <%= @event.requests.find_by(status:"Accepted").user.age %></span><br /><br />
                  <span><%= @event.requests.find_by(status:"Accepted").user.bio %></span>
                </div>
                </div>
                  <div class="card-product" style="width: 100%; border-radius: 0; border-left: 12px solid white; border-right: 12px solid white;">
                  <div style="width: 45%; background-size: cover; background-position: center; background-image: url(<%= cl_image_path url_for(@event.photo), height: 300, width: 400, crop: :fill %>)"></div>
                  <div class="flex-column card-right">
                    <ul class="card-product-infos ml-2" style="padding-right:0 !important">
                        <li><h2 style="margin: 0;max-width: 156px !important; white-space:nowrap; max-height: 20px;"><%= @event.name %></h2></li>
                      <li><%= @event.address %></li>
                      <li style="color:gray; font-size: 16px, margin: 0"><%= @event.date_time.strftime("%I:%M%p") %> - <%= @event.date_time.strftime("%m/%d/%Y") %></li>
                    </ul>
                    <div class="d-flex pb-1">
                      <% unless @event.categories.first.nil? %>
                        <span class="card-filter ml-3" style="background-color: <%= @event.categories.first.color %>"><%= @event.categories.first.name %></span>
                      <% end %>
                      <% unless @event.categories.second.nil? %>
                        <span class="card-filter" style="background-color: <%= @event.categories.second.color %>"><%= @event.categories.second.name %></span>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>


          </div>
        </div>
      </div>

    <!-- Event popup Modal, do not change! -->


<style>
  .form-control {
    width: 300px;
    margin-top: 20px;
    margin-bottom: none;
  }

  .modal-content{
    z-index: 1000000 !important;
  }
</style>
