<div class="container">
  <img src="https://logodix.com/logo/2139338.gif" width="300" class="mb-4" />
<h2>Sign up</h2>
<%= render "devise/shared/links" %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "Name" }%>
    <%= f.input :last_name,
                required: true,
                input_html: { autocomplete: "" }%>
    <%= f.input :age,
                required: true,
                input_html: { autocomplete: "Age" }%>
    <div class="form-group">
        <%= f.label "Profile picture" %>
        <%= f.file_field :photo,
                    required: false %>
    </div>
    <%= f.input :bio,
                required: true,
                input_html: { autocomplete: "Tell us about yourself!" }%>
    <%= f.input :living_in,
                required: true,
                input_html: { autocomplete: "" }%>
    <%= f.input :language_ids,
                required: false,
                label: "Spoken Languages",
                collection: Language.all, input_html: { multiple: true } %>
    <%= f.input :email,
                required: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: "btn btn-primary mb-5" %>
  </div>
<% end %>
</div>

<style>
  select {
    height: 100px;
    width: 100px;
    display: block;
  }
</style>
<script>
  $('option').mousedown(function(e) {
    e.preventDefault();
    var originalScrollTop = $(this).parent().scrollTop();
    console.log(originalScrollTop);
    $(this).prop('selected', $(this).prop('selected') ? false : true);
    var self = this;
    $(this).parent().focus();
    setTimeout(function() {
      $(self).parent().scrollTop(originalScrollTop);
    }, 0);

    return false;
  });
</script>

  <%= link_to image_tag("logged_out_background.png", class: 'logged-out-background') %>
