        <div class="card-product">
          <%#= link_to event_path(event), style: "width: 45%;" do %>
          <%= link_to '', event_path(event), style:"width: 45%; background-size: cover; background-position: center; background-image: url('#{cl_image_path url_for(event.photo), height: 300, width: 400, crop: :fill}')"%>
          <%# end %>

          <div class="flex-column card-right">
            <ul class="card-product-infos ml-2">
              <%= link_to event_path(event) do %>
                <li><h2 style="margin: 0"><%= event.name %></h2></li>
              <% end %>
      <li class="event-card-address"><%= event.address %></li>
      <li style="color:#gray; font-size: 12px; margin: 0; margin-bottom:8px"><%= event.date_time.strftime("%m/%d/%Y") %> - <%= event.date_time.strftime("%I:%M%p") %></li>
            </ul>

            <div class="d-flex pb-1">
              <% unless event.categories.first.nil? %>
                <span class="card-filter ml-3" style="background-color: <%= event.categories.first.color %>"><%= event.categories.first.name %></span>
              <% end %>
              <% unless event.categories.second.nil? %>
                <span class="card-filter" style="background-color: <%= event.categories.second.color %>"><%= event.categories.second.name %></span>
              <% end %>
            </div>
                <div>
                  <%= cl_image_tag(event.user.photo.key, class: "card-avatar") %>
                </div>
          </div>
        </div>
