<%= link_to root_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<%= link_to image_tag("logo.png", width: 20, class: 'page-title', style:"width: 112px") %>
<div class="container">

  <div class="w-100">
    <% if @date.present? %>
    <div style="width: 90vw d-flex">
      <h1 class="title py-3" style="width: 300px; font-size: 26px; margin-right: 30px" id="filters"><strong>Events for <%= @date %></strong></h1>
    </div>
    <% else %>
      <h1 class="title">All events</h1>
    <% end %>
  </div>

  <div class="d-flex">

    <div class="navbar-dropdown-categories">
      <%= form_tag("/") do %>
        <%= select_tag("categories", options_for_select(["outdoors", "just drinks", "live music", "karaoke", "theater", "other"], "outdoors") ) %>
        <%= submit_tag(">") %>
      <% end %>
    </div>

    <div class="navbar-dropdown-time">
      <%= form_tag("/") do %>
        <%= select_tag("time", options_for_select(["11:00am", "12:00pm", "1:00pm", "2:00pm", "3:00pm", "4:00pm", "5:00pm", "6:00pm", "7:00pm", "8:00pm", "9:00pm", "10:00pm"], "11:00am") ) %>
        <%= submit_tag(">") %>
      <% end %>
    </div>
  </div>

  <% if @events.length == 0 %>
    <p class="mt-4">No events for this date... :(</p>
  <% else %>
        <div class="d-flex flex-column-reverse mt-4" style="width: 360px">
          <% @events.each do |event|  %>
            <%= render partial: "event_card", locals: { event: event } %>
          <% end %>
        </div>
  <% end %>
</div>
