<%= link_to root_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<div class="container">

  <h1>Choose a buddy</h1>

  <div class="cards">
    <% @events.each do |event| %> 
      <%= event.name %>
      <%= event.address %>
      <%= event.date %>
      <%= event.time %>
    <% end %>
  
  
  
  </div>
</div>
