<%= link_to root_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<h1 class="page-title">BUDDY</h1>
<div class="container">

  <h1>Choose a buddy!</h1>

  <div class="d-flex flex-column-reverse">
    <% @events.each do |event|  %>
      <%= link_to event_path(event) do %>
      <div class="card d-flex flex-row m-2 shadow">
        <div style="max-width: 350px; max-height: 300px;">
          <%= cl_image_tag event.photo.key, crop: :fill, class:"card-img" %>
        </div>
        <div class="m-3">
          <p><%= event.name  %></p>
        <% end %>
          <p><%= event.date_time.strftime("%m/%d/%Y") %></p>
          <p><%= event.date_time.strftime("%I:%M%p") %></p>
          <p><%= event.address %></p>
          <%= link_to 'Choose me!', '#' %>
        </div> 
      </div>
    <% end %>
  </div>
