<%= link_to root_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<h1 class="page-title">BUDDY</h1>
<div class="container">

  <div class="w-100">
    <h1 class="title">Choose a buddy for your activities!</h1>
  </div>
  <div>
    <div class="d-flex flex-column-reverse">
      <% @events.each do |event|  %>
        <%= link_to event_path(event) do %>
        <div class="card-product d-flex flex-row m-2 shadow">
          <div style="max-width: 350px; height: 100%;">
            <%= cl_image_tag event.photo.key, crop: :fill, class:"img" %>
          </div>
          <div class="card-product-infos ml-2 mt-2">
            <h2 class="mt-2 mb-1" style="margin: 0"><strong><%= event.name %></strong></h2>
          <% end %>
            <p class="mb-1" style="font-size: 14px"><%= event.address %></p>
            <p style="color:gray; font-size: 14px;"><%= event.date_time.strftime("%m/%d/%Y") %> - <%= event.date_time.strftime("%I:%M%p") %></p>
            <%= link_to 'Choose a Buddy', incoming_requests_path(event), class: "btn btn-primary mb-3 ml-0" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
