<%= link_to root_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<h1 class="page-title">BUDDY</h1>
<div class="container">

  <h1>Choose a buddy!</h1>

  <div class="cards">

  <div class="d-flex flex-column-reverse">
    <% @events.each do |event|  %>
      <%#= event.created_at.to_formatted_s(:short): <%= event.message %>
        <div class="cards my-4 shadow">
          <p>Event name: <%= event.name  %></p>
          <p>Date: <%= event.date_time.strftime("%m/%d/%Y") %></p>
          <p>Time: <%= event.date_time.strftime("%I:%M%p") %></p>
          <p>Address: <%= event.address %></p>
          <%= link_to 'Choose me!', '#' %>
        </div>
    <% end %>
  </div>

  </div>
</div>
