<%= link_to root_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<h1 class="page-title">BUDDY</h1>
<div class="container">

  <h1>Choose a buddy!</h1>

  <div class="cards">

    <% @events.each do |event| %>
      <p><%= event.name %></p>
      <p><%= event.address %></p>
      <p>Date: <%= event.date_time.strftime("%m/%d/%Y") %></p>
      <p>Time: <%= event.date_time.strftime("%I:%M%p") %></p>
    <% end %>

  </div>
</div>
