<%= link_to root_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<div class="container">



  <div class="cards">
    
    <h2>Suggest an event</h2>

    <%= simple_form_for @event do |f| %>
      <%= f.input :name, placeholder: 'Event name', label:false %>
      <%= f.input :photo, placeholder: 'photo', label:false %>
      <%= f.input :date, placeholder: 'Date', label:false %>
      <%= f.input :time, placeholder: 'Time', label:false %>
      <%= f.input :address, placeholder: 'Address', label:false %>
    <% end %>


    <h2>Category</h2>

    <%= simple_form_for @event do |f| %>
      <%= f.input :ticket_url, placeholder: 'Ticket URL', label:false %>
      <%= f.input :description, placeholder: 'Description of event', label:false %>
      <%= f.submit 'Save' %>
    <% end %>

  </div>





</div>
