<%= link_to root_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<h1 class="page-title">BUDDY</h1>
<div class="container">



  <div class="cards">

    <h2>Suggest an event</h2>

    <%= simple_form_for @event do |f| %>
      <%= f.input :name, placeholder: 'Event name', label:false %>
      <%= f.input :photo, placeholder: 'photo', label:false %>
      <%= f.input :date_time, label:false %>
      <%= f.input :address, placeholder: 'Address', label:false %>
    <% end %>


    <h2>Category</h2>

    <div class="categories mt-2 mb-2">

      <ul class="list-group list-group-horizontal">
        <li class="list-group-item">outdoors</li>
        <li class="list-group-item">live music</li>
        <li class="list-group-item">theatre</li>
        <li class="list-group-item">just drinks</li>
        <li class="list-group-item">festival</li>
        <li class="list-group-item">sports</li>
        <li class="list-group-item">other</li>
      </ul>
    </div>

    <div class="description mt-3">
      <%= simple_form_for @event do |f| %>
        <%= f.input :ticket_url, placeholder: 'Ticket URL', label:false %>
        <%= f.input :description, placeholder: 'Description of event', label:false %>
        <%= f.submit 'Save' %>
      <% end %>
    </div>
  </div>





</div>
