<%= link_to root_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<h1 class="page-title">BUDDY</h1>
<div class="container">
  <div>
    <div class="form">

      <div class="w-100">
        <h1 class="title py-4"><strong>Suggest an event</strong></h1>
      </div>
      <%= simple_form_for @event do |f| %>
        <%= f.input :name, placeholder: 'Event name', label: false %>
        <%= f.input :photo, placeholder: 'photo', label: false %>
        <%= f.input :date_time, label: false %>
        <%= f.input :address, placeholder: 'Address', label: false %>

        <h2>Pick your category: (limit of 3)</h2>

        <div class="d-flex">

        <input class="d-none" type="checkbox" value="1" name="event[category_ids][]" id="event_category_ids_1">
        <label class="filter deselected-filter" style="background-color: <%= Category.find_by(id: 1).color %>" for="event_category_ids_1">outdoors</label>

        <input class="d-none" type="checkbox" value="2" name="event[category_ids][]" id="event_category_ids_2">
        <label class="filter deselected-filter" style="background-color: <%= Category.find_by(id: 2).color %>" for="event_category_ids_2">live music</label>

        <input class="d-none" type="checkbox" value="3" name="event[category_ids][]" id="event_category_ids_3">
        <label class="filter deselected-filter" style="background-color: <%= Category.find_by(id: 3).color %>" for="event_category_ids_3">food</label>

        <input class="d-none" type="checkbox" value="4" name="event[category_ids][]" id="event_category_ids_4">
        <label class="filter deselected-filter" style="background-color: <%= Category.find_by(id: 4).color %>" for="event_category_ids_4">drinks</label>

        </div>
        <div class="d-flex">

        <input class="d-none" type="checkbox" value="5" name="event[category_ids][]" id="event_category_ids_5">
        <label class="filter deselected-filter" style="background-color: <%= Category.find_by(id: 5).color %>" for="event_category_ids_5">sports</label>

        <input class="d-none" type="checkbox" value="6" name="event[category_ids][]" id="event_category_ids_6">
        <label class="filter deselected-filter" style="background-color: <%= Category.find_by(id: 6).color %>" for="event_category_ids_6">theater</label>

        <input class="d-none" type="checkbox" value="7" name="event[category_ids][]" id="event_category_ids_7">
        <label class="filter deselected-filter" style="background-color: <%= Category.find_by(id: 7).color %>" for="event_category_ids_7">festival</label>

        <input class="d-none" type="checkbox" value="8" name="event[category_ids][]" id="event_category_ids_8">
        <label class="filter deselected-filter" style="background-color: <%= Category.find_by(id: 8).color %>" for="event_category_ids_8">other</label>

        </div>

        <div class="description mt-3">
            <%= f.input :ticket_url, placeholder: 'Ticket URL (optional)', required: false, label: false %>
            <%= f.input :description, placeholder: 'Add a description to your event', label: false %>
            <%= f.submit 'Save', class: "btn btn-primary" %>
          <% end %>
        </div>
    </div>
  </div>
</div>
