<%= link_to root_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<div class="container">



  <div class="cards">
    <p>Event: <%= @event.name %></p>
    <p>Date: <%= @event.date %></p>
    <p>Time: <%= @event.time %></p>
    <p>Address: <%= @event.address %></p>
    <p>Ticket Url: <%= @event.ticket_url %></p>
    <p>Description: <%= @event.description %></p>
  </div>


</div>
