<%= link_to root_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>

<h1 class="page-title">BUDDY</h1>

<div class="container">
  <div class="card shadow p-3 mb-5 bg-white rounded width: 50rem;">
  <div class="card-body">
    <div style="max-width: 730px; max-height: 450px;">
      <%= cl_image_tag @event.photo.key, crop: :fill, class: "w-100 py-5" %>
    </div>
      <% if @event.user == current_user %>
        <div style="text-align:right; width:100%; padding:0;">
          <%= link_to event_path(@event), method: :delete, class: "btn btn-danger" do %>
            <i class="fas fa-trash"></i>
          <% end %>
      <% end %>
    </div>
    <div class="cards">
      <p><%= @event.name %></p>
      <p><%= @event.date_time.strftime("%m/%d/%Y") %></p>
      <p><%= @event.date_time.strftime("%I:%M%p") %></p>
      <p><%= @event.address %></p>
      <p><%= @event.ticket_url %></p>
      <p><%= @event.description %></p>
    </div>
    <% if @event.user != current_user %>
    <p> <%= link_to "This is your event! Check incoming requests", incoming_requests_path(@event), class:"btn btn-primary" %> </p>
    <% else %>
      <%= link_to "Apply", new_event_request_path(@event), class:"btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>
