<%= link_to root_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>

<h1 class="page-title">BUDDY</h1>

<div class="card shadow p-3 mb-5 bg-white rounded width: 50rem;">
<div class="card-body">
  <%= cl_image_tag @event.photo.key, crop: :fill, class: "w-100 py-5" %>
    <div class="cards">
      <p><%= @event.name %></p>
      <p><%= @event.date_time.strftime("%m/%d/%Y") %></p>
      <p><%= @event.date_time.strftime("%I:%M%p") %></p>
      <p><%= @event.address %></p>
      <p><%= @event.ticket_url %></p>
      <p><%= @event.description %></p>
    </div>

  <%= link_to "Apply", new_event_request_path(@event), class:"btn btn-primary" %>
  </div>
</div>
