<%= link_to root_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<%= link_to image_tag("logo.png", width: 20, class: 'page-title', style:"width: 112px") %>
<div class="container">

<h2 class="p-2 my-1" style="text-align: center;color:#222"><strong>Buddy request has been submitted to <%= @request.event.user.first_name %> <%= @request.event.user.last_name %>!</strong> </h2>
<div class="card shadow p-3 mb-3 bg-white rounded" id="submitted-@requests" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%= cl_image_tag @request.event.photo.key, class:"card-image",style:"border-radius:6px" %>

    </div>
    <div class="col-md-8 pl-2 pt-1">
        <h3 class="card-title mt-3"> <strong><%= @request.event.name  %> </strong></h3>
        <div class="card-details">
          <p><i class="fas fa-map-marker-alt"></i> <%= @request.event.address  %> </p>
          <p style="margin-bottom: 6px;"><i class="fas fa-calendar"></i> <%= @request.event.date_time.strftime("%m/%d/%Y") %> - <%= @request.event.date_time.strftime("%I:%M%p") %></p>

        </div>
    </div>
  </div>
</div>

  <p class="pl-2 mt-3 mb-0 pb-0" style="text-align: center;color:gray;"> Stay tuned!<br> You will get a message if<br> <%= @request.event.user.first_name %> accepts your request. </p>
