<%= link_to root_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<div class="container">

<% @requests.each do |request| %>
<h2>Buddy request has been submitted to Will P.</h2>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://userstock.io/data/wp-content/uploads/2017/07/pexels-photo-26939-1.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
    
      <div class="card-body">        
        <h3 class="card-title"> <%= request.event.name  %> </h3> 
        <div class="card-info">
          <p>Address: <%= request.event.address  %> </p>
          <p> <%= request.event.date  %> <%= request.event.time  %> </p>
          
        </div>

        <div class="category-container">
          <% request.event.categories.each do |category| %>
            <% if category.present? %>
              <span class="badge badge-primary"> <%= category.name %> </span>
            <% end %>
          <% end %>
        </div>
      </div>
      
    </div>
  </div>
</div>
<% end  %>
