<%= link_to welcome_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<h1 class="page-title">BUDDY</h1>
<div class="container">


<h1 class="py-3">Your upcoming events:</h1>


<% if @events.length == 0 && params[:categories].nil?%>
<p>You don't have any planned events!</p>
<%= link_to "Search for a buddy", welcome_path, class: "btn btn-primary" %>
<% else %>
  <%= render partial: "filters" %>
  <div class="p-2">
  <%= render partial: "calendar", locals: { events: @events } %>
  <div class="my-2"></div>

    <div class="d-flex flex-column-reverse">
      <% @events.each do |event|  %>
        <%= render partial: "event_card", locals: { event: event } %>
      <% end %>
    </div>
  </div>
<% end %>
