<%= link_to root_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<%= link_to image_tag("logo.png", width: 20, class: 'page-title', style:"width: 112px") %>
<div class="container">

<div style="width: 90vw d-flex">
<h1 class="title py-3" style="width: 300px; font-size: 26px; margin-right: 30px" id="filters"><strong>Your upcoming events</strong></h1>
</div>

  <% if @events.length == 0 && params[:categories].nil?%>
    <p>You don't have any planned events!</p>
    <%= link_to "Search for a buddy", welcome_path, class: "btn btn-primary" %>
  <% else %>
      <%= render partial: "filters" %>
    <div class="pt-1 pb-3"></div>
    <%= render partial: "calendar", locals: { events: @events } %>

    <div class="d-flex flex-column-reverse pt-3" style="width: 360px">
      <% @events.each do |event|  %>
        <div class="card-product">

          <% if event.user == current_user%>
            <%= link_to '', new_message_path(event.requests.find_by(status:"Accepted").user, event: event) + "#event-chat", style:"width: 45%; background-size: cover; background-position: center; background-image: url('#{cl_image_path url_for(event.photo), height: 300, width: 400, crop: :fill}')"%>
          <% else %>
            <%= link_to '', new_message_path(event.user, event: event) + "#event-chat", style:"width: 45%; background-size: cover; background-position: center; background-image: url('#{cl_image_path url_for(event.photo), height: 300, width: 400, crop: :fill}')"%>
          <% end %>

          <div class="flex-column card-right">
            <ul class="card-product-infos ml-2">

          <% if event.user == current_user%>
              <%= link_to new_message_path(event.requests.find_by(status:"Accepted").user, event: event) + "#event-chat" do %>
                <li><h2 style="margin: 0"><%= event.name %></h2></li>
              <% end %>
          <% else %>
              <%= link_to new_message_path(event.user, event: event) + "#event-chat" do %>
                <li><h2 style="margin: 0"><%= event.name %></h2></li>
              <% end %>
          <% end %>

      <li class="event-card-address"><i class="fas fa-map-marker-alt"></i> <%= event.address %></li>
      <li style="font-size: 12px; margin: 0; margin-bottom:8px"><i class="fas fa-calendar"></i> <%= event.date_time.strftime("%m/%d/%Y") %> - <%= event.date_time.strftime("%I:%M%p") %></li>
            </ul>

            <div class="d-flex pb-1">
              <% unless event.categories.first.nil? %>
                <span class="card-filter ml-3" style="background-color: <%= event.categories.first.color %>"><%= event.categories.first.name %></span>
              <% end %>
              <% unless event.categories.second.nil? %>
                <span class="card-filter" style="background-color: <%= event.categories.second.color %>"><%= event.categories.second.name %></span>
              <% end %>
            </div>
            <% if event.user == current_user%>
              <%= link_to new_message_path(event.requests.find_by(status:"Accepted").user, event: event) + "#event-chat" do %>
              <div style="position: absolute; top: 4px; left: 4px; background: white; width: 136px; height: 44px; border-radius: 300px; opacity: 0.7">
                <p style="position: absolute; right: 10px; font-size: 12px; color: #444; top: 12px;">Buddies!</p>
              </div>
              <div>
                <%= cl_image_tag(event.requests.find_by(status:"Accepted").user.photo.key, class: "card-avatar", style: "top: 6px; left: 6px; border: 1px solid rgba(255,255,255,0.7)") %>
                <%= cl_image_tag(event.user.photo.key, class: "card-avatar", style: "top: 6px; left: 35px; border: 1px solid rgba(200,200,200,0.7)") %>
              </div>
              <% end %>
            <% else %>
              <%= link_to new_message_path(event.user, event: event) + "#event-chat" do %>
              <div style="position: absolute; top: 4px; left: 4px; background: white; width: 136px; height: 44px; border-radius: 300px; opacity: 0.7">
                <p style="position: absolute; right: 10px; font-size: 12px; color: #444; top: 12px;">Buddies!</p>
              </div>
              <div>
                <%= cl_image_tag(event.requests.find_by(status:"Accepted").user.photo.key, class: "card-avatar", style: "top: 6px; left: 6px; border: 1px solid rgba(255,255,255,0.7)") %>
                <%= cl_image_tag(event.user.photo.key, class: "card-avatar", style: "top: 6px; left: 35px; border: 1px solid rgba(200,200,200,0.7)") %>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>
  <% end %>
</div>
