<%= link_to welcome_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<h1 class="page-title">BUDDY</h1>
<div class="container">



  <h1>TO-DO: Filters</h1>

  <%= render partial: "calendar", locals: { events: @events } %>

  <h1>TO-DO: Search bar</h1>
  <br />


  <h2>Closest to you:</h2>
  <div class="d-flex flex-column-reverse">
    <% @events.each do |event|  %>
      <%#= event.created_at.to_formatted_s(:short): <%= event.message %>
      <%= link_to event_path(event) do %>
        <div class="cards my-4 shadow">
          <p>Event name: <%= event.name  %></p>
          <p>Date: <%= event.date_time.strftime("%m/%d/%Y") %></p>
          <p>Time: <%= event.date_time.strftime("%I:%M%p") %></p>
          <p>Address: <%= event.address %></p>
        </div>
      <% end %>
    <% end %>
  </div>




</div>
