<span class="back-button"></span>
<%= link_to image_tag("logo.png", width: 20, class: 'page-title', style:"width: 112px") %>
  <div class="container">

    <div class="py-2"></div>
      <%= cl_image_tag @user.photo.key, crop: :fill, class: "avatar-welcome-page mt-3 mb-2" %>
      <h1 class="mt-2 mb-5"><strong>Hi <%= @user.first_name %></strong></h1>
      <h2 class="mb-3 mt-2">Browse events</h2>

      <%= form_for @user, url: root_path, method: :patch do |f| %>
        <div class="d-flex">
          <div>
          <%= f.text_field :search_location, placeholder: 'Input a location', value: "", label:false %>
          </div>
          <div>
          <%= f.button class: "btn btn-primary", style: "padding: 7px 12px; margin-bottom: 2px; border-radius: 2px; color: white;" do %>
            <i class="fas fa-location-arrow"></i>
          <% end %>
          </div>
          <% end %>
        </div>
      <h2 class="mt-4">or</h2>
      <%= link_to "Suggest an event", new_event_path, class: "btn-lg btn-primary mt-2", style: "color: white;" %>

  </div>
  </div>

<style>
  @media screen and (max-width: 600px) {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    padding-top: 26px;
  }
}

</style>
