<!DOCTYPE html>
<html>
  <head>
    <title>Buddy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="Find a buddy for your activities! Buddy is a newly launched appliction that allows you to meet new people, suggest events and make plans together.">
    <link rel="icon" href="https://img.icons8.com/dusk/2x/friends.png" type="image/icon type">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div id="body">
    <%= render 'shared/navbar' %>
      <div>
        <%= render 'shared/flashes' %>
        <%= yield %>
      </div>
      <%= render 'shared/navbarbottom' %>
    </div>
  </body>
</html>
